In [1]:
%matplotlib inline
import pandas as pd
import numpy as np 
import glob
import seaborn as sns

In [2]:
dat = pd.read_csv('data/fishing_effort_byvessel/daily_csvs/2012-01-01.csv')

In [3]:
dat.head()

         date  lat_bin  lon_bin       mmsi  fishing_hours
0  2012-01-01      -28    -1746  441536000      11.631806
1  2012-01-01      -29    -1746  441536000       1.759028
2  2012-01-01      -30    -1745  441536000       2.763750
3  2012-01-01      -30    -1744  441536000       3.645139
4  2012-01-01      -34      636  416121600       4.064861

In [29]:
path = r'data/fishing_effort_byvessel/daily_csvs/' # use your path
allFiles = glob.glob(path + "/*.csv")
allFiles = sorted(allFiles, key=lambda x: x[-13:-4])[0:366]
list_ = []

for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

dat = pd.concat(list_, axis = 0, ignore_index = True)
dat.to_csv('data/fishing_effort_byvessel/2012_daily_csvs.csv')

In [46]:
dat.head()
#dat.describe()
len(dat.mmsi.value_counts())
dat2 = dat.groupby(['mmsi'], as_index=False).mean()
dat2['lat_bin'] = dat2['lat_bin']*.10
dat2['lon_bin'] = dat2['lon_bin']*.10

In [47]:
dat2.head()

   mmsi    lat_bin     lon_bin  fishing_hours
0    91  22.500000  120.150000       4.449583
1   416  22.450000  120.216667       1.257130
2  1313  38.060000  119.868000       2.393572
3  3060  38.386905  119.621429       3.911622
4  3659  19.863830  109.106383       6.761058

In [64]:
import plotly
import pandas as pd
import plotly.plotly as py

plotly.tools.set_credentials_file(username='johnwoodill', api_key='hCOlyUzCHkeM4fjqC1N3')

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2015_06_30_precipitation.csv')

scl = [0,"rgb(150,0,90)"],[0.125,"rgb(0, 0, 200)"],[0.25,"rgb(0, 25, 255)"],\
[0.375,"rgb(0, 152, 255)"],[0.5,"rgb(44, 255, 150)"],[0.625,"rgb(151, 255, 0)"],\
[0.75,"rgb(255, 234, 0)"],[0.875,"rgb(255, 111, 0)"],[1,"rgb(255, 0, 0)"]

data = [ dict(
    lat = dat2['lat_bin']*.10,
    lon = dat2['lon_bin']*.10,
    text = dat2['mmsi'].astype(str),
    marker = dict(
        color = dat2['mmsi'],
        colorscale = scl,
        reversescale = True,
        opacity = 0.7,
        size = 2,
        colorbar = dict(
            thickness = 10,
            titleside = "right",
            outlinecolor = "rgba(68, 68, 68, 0)",
            ticks = "outside",
            ticklen = 3,
            showticksuffix = "last",
            ticksuffix = " inches",
            dtick = 0.1
        ),
    ),
    type = 'scattergeo'
) ]

layout = dict(
    geo = dict(
        scope = 'world',
        showland = True,
        landcolor = "rgb(212, 212, 212)",
        subunitcolor = "rgb(255, 255, 255)",
        countrycolor = "rgb(255, 255, 255)",
        showlakes = True,
        lakecolor = "rgb(255, 255, 255)",
        showsubunits = True,
        showcountries = True,
        resolution = 50,
        projection = dict(
            type = 'conic conformal',
            rotation = dict(
                lon = -100
            )
        ),
        lonaxis = dict(
            showgrid = True,
            gridwidth = 0.5,
            range= [ -50, 50 ],
            dtick = 5
        ),
        lataxis = dict (
            showgrid = True,
            gridwidth = 0.5,
            range= [ -40, 40 ],
            dtick = 5
        )
    ),
    title = 'US Precipitation 06-30-2015<br>Source: <a href="http://water.weather.gov/precip/">NOAA</a>',
)
fig = { 'data':data, 'layout':layout }
py.iplot(fig, filename='precipitation')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~johnwoodill/0 or inside your plot.ly account where it is named 'precipitation'

In [57]:
min(dat2['lat_bin'])

-72.84931506849315